<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Template</title>

    <link rel="stylesheet" href="style.css">

    <!-- Style sheet for the hamburger menu icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Style sheet for the box-icon hamburger menu -->
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Logo</a>
        <!-- Hamburger Menu Icon -->
        <label for="" class="icons">
            <span class="material-symbols-outlined">
menu
</span>
        </label>
        <!-- Hamburger Menu Icon -->
        
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Students</a>
            <a href="#">Colleges</a>
            <a href="#">Help</a>
        </nav>

    </header>
    
</body>
</html>