<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <img src="student.jpg" alt="Student">
            <div class="intro">
                <h1>Student</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non deleniti, officiis officia sunt impedit earum inventore quia, quidem reprehenderit placeat ducimus, esse temporibus sint. Vel velit sequi dolor ea ullam.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="college.jpg" alt="Student">
            <div class="intro">
                <h1>College</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non deleniti, officiis officia sunt impedit earum inventore quia, quidem reprehenderit placeat ducimus, esse temporibus sint. Vel velit sequi dolor ea ullam.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="help.jpg" alt="Student">
            <div class="intro">
                <h1>Help</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non deleniti, officiis officia sunt impedit earum inventore quia, quidem reprehenderit placeat ducimus, esse temporibus sint. Vel velit sequi dolor ea ullam.
                </p>
            </div>
        </div>
    </div>
    
</body>
</html>