:root{
    --primary-color: #19475C;
    --secondary-color: #00d1cd;
    --accent1:#f0eefc;
    --accent2:#444444;
    
    --nav-background:var(--accent1);

    /* left - bottom - blur  */
    --box-shadow:-10px 0px 50px var(--accent2);

  
  }

*{
    margin: 0;
    padding: 0;    
}

body{
    min-height: 100vh;
    background-color:;
    color: #f0eefc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    background-color: var(--nav-background);
    box-shadow: var(--box-shadow);
    height: 75px;
    display: flex;
    justify-content: center;
    padding: 0 2% ;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style: none;    
    align-items: center;
}
nav li{
    height:75px;
}
nav a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: var(--primary-color);
}
nav .hideOnMobile:hover,
nav .sideMenu:hover,
nav .active{
    background-color: var(--primary-color);
    color: var(--accent1);
}
/*Send the first child of the nav bar to the left side*/
nav li:first-child{
    margin-right: auto;
}

/* For this project, we wil only display the mobile menu */
.hideOnMobile{
    display: none;
}

/* Hamburger Menu */
.sideBar{
    /* display: flex; */
    display: none; /*This hides the side bar menu*/
    flex-direction: column;
    align-items: flex-start;    
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: auto;
    width: 250px;
    z-index: 999; /*Bring the side bar up front*/
    background-color: var(--accent1);
    backdrop-filter: blur(10px); /*This will blur the page behind the side bar*/
    box-shadow: var(--box-shadow);
    opacity: .90;
}
.sideBar li{
    width: 100%;
}

/* Hamburger Menu */

footer{
    background-color: black;
}

@media (max-width:960px) {
    .hideOnMobile{
        display: none;    
    }
}